{% extends "base.html" %} {% block title %}Exam{% endblock %} {% block content
%}
<form
  class="bg-white p-10 rounded-2xl shadow-xl w-96"
  action="/submit"
  method="POST"
>
  <h1 class="text-xl font-bold mb-6">Question 1</h1>
  <p class="mb-4">What is the capital of France?</p>

  <div class="space-y-3">
    <label class="block">
      <input type="radio" name="q1" value="London" required />
      London
    </label>

    <label class="block">
      <input type="radio" name="q1" value="Paris" />
      Paris ✅
    </label>

    <label class="block">
      <input type="radio" name="q1" value="Rome" />
      Rome
    </label>
  </div>

  <button
    class="mt-6 w-full bg-green-600 text-white py-2 rounded-xl hover:bg-green-700"
  >
    Submit
  </button>
</form>
{% endblock %}
